* {
    box-sizing: border-box;
}
#CQ * {
    box-sizing: content-box;
}
header, div.banner, article, aside, footer {
    border: 1px solid black;
    margin: 0.25em 0;
    padding: 0.25em;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header li {
    display: inline-block;
    margin: 0.25em;
}
div.content {
    overflow: hidden;
}
div.content > article {
    width: 66%;
    margin-left: 0;
    margin-right: -66%;
    float: left;
    min-height: 20em;
}
div.content > aside {
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    float: left;
    min-height: 20em;
}
div.content > div.banner {
    min-height: 10em;
}
div.banner + article {
    width: 100%;
    margin: 0;
    float: none;
}
